<div class="anuncios-grid-component">
  <app-meu-anuncio *ngFor="let anuncio of anuncios | paginate: { itemsPerPage: 5, currentPage: page }" (select)="gotoToDetaisPage(anuncio)" [anuncio]="anuncio">
      <span *ngIf="isAdmin" class="button">
          <div class="dropdown-container">
              <div class="dropdown-trigger"><i class="fas fa-ellipsis-v"></i></div>
              <div class="dropdown-content">
                <div class="dropdown-link" (click)="onAtualizar(anuncio)">Atualizar</div>
                <div class="dropdown-link" (click)="onDesativar(anuncio)">Desativar</div>
                <div class="dropdown-link" (click)="onExcluir(anuncio)">Excluir</div>
              </div>
          </div>
        </span>
  </app-meu-anuncio>
  <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
</div>
