form {
  label, input, textarea {
      display: block;
      width: 100%;
  }


  label {
      color: #333;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 20px;
  }

  input, select {
      padding: 10px;
  }

}
